.callout-banner {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-10);
    padding: 12px;
    border: 1px solid var(--accent-80);
    border-radius: 4px;
    box-sizing: border-box;
}

.callout-icon {
    font-size: 14px;
    color: var(--accent-100)
}

.callout-left {
    display: flex;
    font-size: 14px;
    gap: 12px;
}

.callout-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.callout-text .heading-text {
    font-weight: 600;
}

.callout-text .heading-text,
.callout-text p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.callout-text p {
    font-weight: 500;
}


.callout-text p a {
    color: var(--accent-100);
    text-decoration: underline;
}

.callout-close-button {
    background-color: transparent;
    border: none;
    color: var(--grey-60);
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.callout-close-button:hover {
    color: var(--red-60);
}